
   .menu-item{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px ;
    transition: transform 0.5s cubic-bezier(0.15, 0.45, 0.45, 2.95);
    
        transform-style: preserve-3d ;
        transform: perspective(1000px);
        // width: 30%;
        height: 350px;
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        // margin: 20px;
        background-position: center;
        background-size: cover;
        // overflow: hidden;
        
        border: 3px solid #333333;
       border-radius: 2px;
       text-transform: uppercase;
       position: relative;
     
       &.large{
        height: 430px;
    }
       &:hover {           
           cursor: pointer; 
           
           transform: scale(1.1);         
           transition: box-shadow 0.3s ease-in-out !important;
           
           box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
        //    & .background-image {
        //         transform: scale(1.2);
                
        //         transition: transform 2s cubic-bezier(0.25, 0.45, 0.45, 0.95);
         
        //    }
           & .content {
            backdrop-filter:none;
            transform:  scale(1.2) translateZ(100px);
            
            background-color: rgb(255, 255, 255) ;
            transition: box-shadow 0.3s ease-in-out !important;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
           }
         }
               
 
   }
   

  .background-image{
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      
      
  }
   
  
   .content{
        transition: transform 0.2s ease-in-out  ;
        transform: translateZ(100px);
        box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
        background-color: rgba(255, 255, 255, 0.33) ;
    // backdrop-filter:blur(5px);
    backdrop-filter:blur(3px);
    border-radius: 5px;
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    
    position: absolute;
    
    
   
   
       .title{
        
           color: rgb(0, 0, 0);
           font-weight: bold;
           margin-bottom: 5px;
           font-size:22px;
        //    mix-blend-mode: overlay;
          
       
          
   
       }
   
       .subtitle{
   color: #333333;
       }
   }
   
   
   .tilt {
        transform-style: preserve-3d ;
        width: 30%;
        margin: 10px;
        box-shadow: 0 0px 0px rgba(36, 36, 36, 0.923) !important;
    
   
    &:hover{
        z-index: +1;
        
    }
    &.large{
       
        width: 45.5%;
        
        
    }
  }

  .link{
    transform-style: preserve-3d ; 
  }

