.app-body{
 padding: 2000px;


 
}


.App-link {
  color: #61dafb;
}


.link{
  cursor: pointer; 
}

a{
  text-decoration: none;
  color: black

  
}
         
  
a:hover{
  cursor: pointer !important; 
}

* {
  box-sizing:border-box ;
}


